@{    
    if (Request.QueryString["layout"] == "fluid")
    {
        ViewBag.Title = "Builds On My Box";
        ViewBag.Message = "Builds On My Box";
        Layout = "~/Views/Shared/_LayoutFluid.cshtml";
    }
    else
    {
        ViewBag.Title = "Builds On My Box";
        ViewBag.Message = "Builds On My Box";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="row-fluid">
    <div class="span12">
        <center>
            <img src="~/Content/images/logo.jpg" alt="Builds On My Box"/>
        </center>
    </div>
</div>
<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h2>
            Git and GitHub</h2>
        <p>
            We are using Git as our source control, hosted up at <a href="http://github.com" target="_blank">GitHub</a>. We are using the the 
            <a href="http://windows.github.com/" target="_blank">Git for Windows</a> from GitHub GUI client and the Shell.
        </p>
        <p>
            <a class="btn" href="https://github.com/djinnx/BuildsOnMyBox">View on GitHub &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Steve and Dave</h2>
        <p>
            Steve and Dave are two Software Development Engineers who have a passion for code and continuous learning.
        </p>
        <p>
            <a class="btn" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Contact Us</h2>
        <p>
            Question, comment, concern? Send us a message using our contact form and we will get back to you as soon as we can.
        </p>
        <p>
            <a class="btn" href="#">Contact form &raquo;</a></p>
    </div>
</div>
